*.ipynb_checkpoints
scratch
experiments/old
experiments/sfc
experiments/sfc/*
experiments/sgc/saved
experiments/sgc/saved/*
experiments/sfc/saved
experiments/sfc/saved/*
experiments/sgc/old
experiments/sgc/side_ideas
experiments/gaussian_observations/saved
__pycache__