*.ipynb_checkpoints
.vscode
.pytest_cache
scratch
experiments/sgc-bernoulli/saved
experiments/sgc-bernoulli/old
experiments/sgc-bernoulli/side_ideas
experiments/sgc-relulink-poisson-delta/saved
experiments/sgc-relulink-poisson-delta/old
experiments/sgc-loglink-poisson-delta/saved
cohlib/alg/deprecated
cohlib/alg/deprecated/*
experiments/old
experiments/gaussian_observations/saved
experiments/gaussian_observations2/saved
hydra/gaussian_obs/outputs
hydra/pp_relu_obs/outputs
hydra/pp_log_obs/outputs
hydra/gaussian_obs/ts_output
hydra/archive
hydra/batch_submit
hydra/gammas
__pycache__