*.ipynb_checkpoints
scratch
experiments/sgc-bernoulli/saved
experiments/sgc-bernoulli/old
experiments/sgc-bernoulli/side_ideas
experiments/sgc-relulink-poisson-delta/saved
experiments/sgc-relulink-poisson-delta/old
experiments/sgc-loglink-poisson-delta/saved
cohlib/alg/deprecated
cohlib/alg/deprecated/*
experiments/old
experiments/gaussian_observations/saved
experiments/gaussian_observations2/saved
__pycache__